*{
    margin:0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;

}



body{
    background-image: url('https://i2.wp.com/files.123freevectors.com/wp-content/original/119277-bright-red-abstract-background-graphic.jpg?w=800&q=95');
    background-repeat: no-repeat;
    align-items: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.centronav{
    display:flex;
justify-content:center;
align-items: center;
}

.poss{
    z-index: 100;
}
.poss1{
    z-index: 1;
}


.rojito{
    background:#FF5733;
    
}
.top-nav-collapse{
    background: #ff4d25a8;
}

.fondoTarjeta{
    background-color:#fb6c6c65
}

.texTarjeta{
    color: black;
    align-items: center;
}
.galeria{
    width:371px;
    height: 300px;
    justify-content:center;
    align-items: center;
  padding: 5px;
  align-content: space-between;
  align-content: stretch;
  margin-right: 100px;
  border-radius: 100px;
  }

  .cardP{
      padding: 5px;
  }


  .carouseimg{
    width:400pxpx;
    height: 600px;
    justify-content:center;
    align-items: center;
  padding: 5px;
  align-content: space-between;
  align-content: stretch;
  margin-right: 100px;
  border-radius: 100px;
  }


.contenedor .form-header .form-title{
    font-weight: normal;
    font-family: sans-serif;
    padding: 14px 0px;
    text-align: center;
}


.contenedor .form-header .form-title span{
color:#fff

}


.contenedor .form{

    background-color: rgba(0,0,0,.6);
    width: 90%;
    margin:auto;
    max-width: 650px;
    padding: 5px 35px;
    margin-top: 60px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor .form .form-label{
    display: block;
    color:#ff581b;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;

}

.contenedor .form .form-input, .form-texarea{
    background: rgba(0,0,0,.7);
border: none;
outline: none;
border-bottom: 2px solid #ff581b;
width: 100%;
padding: 12px;
margin-bottom: 20px;
border-radius: 2px;
font-size: 14px;
color: #fff;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor .form .form-texarea{

    resize: vertical;
    max-height: 150px;
    min-height: 50px;

}

.contenedor .form .btn-submit{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ff581b;
    font-size: 14px;
    border: none;
    color:#fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}


.contenedor .form .btn-submit:hover{
    background: #ff3d1b;
}



.footerF {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 }


.botonesContacto{
display:flex;
height: 100px;
justify-content:center;
align-items: center;
}
