body{
    background-image: url('https://i2.wp.com/files.123freevectors.com/wp-content/original/119277-bright-red-abstract-background-graphic.jpg?w=800&q=95');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

      
}

.rojito{
    background:#FF5733;
    
}
.top-nav-collapse{
    background: #ff4d25a8;
}


.centronav{
    display:flex;
height: 300px;
justify-content:center;
align-items: center;
}

.poss{
    z-index: 100;
}
.poss1{
    z-index: 1;
}
.azulito{
    background: rgba(11, 140, 190, 1);
    
}


.galeria{
        width:400px;
        height: 300px;
        justify-content:center;
        align-items: center;
      padding-top: 20px;
      padding: 20px;
      }
.imgprofile{

    width:300px;
    height: 300px;
    justify-content: flex-start;

}